// originally only an inline element
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block; /*this way the box model will work for this element - so padding and height would work*/
        border-radius: 100px;
        transition: all .3s;
        position: relative;
    }
    &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s ease-out;
    }
    &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
        &:after {
            transform: scaleX(1.25) scaleY(1.5);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    }
}

.btn-white {
    background-color: #fff;
    color: #777;
    &:after {
        background-color: #fff;
    }
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
