/*COLORS VARIABLES*/
$color-primary: #1F487E; /*Light-blue*/
$color-primary-light: #709ACD; /*Medium-blue*/
$color-primary-dark: #1D3461; /*Dark-blue*/
$color-secondary-shadeblue: #829CBC; /*lightdark-blue*/
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

