/*COLORS VARIABLES*/
$color-primary: #1F487E; /*Med-blue*/
$color-primary-light: #709ACD; /*Light-blue*/
$color-primary-dark: #1D3461; /*Dark-blue*/
$color-secondary-shadeblue: #829CBC; /*lightdark-blue*/
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-light-grey: #f7f7f7;

/*GRID*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;